body {
  color: red;
  text-shadow: 3px 3px #000000;
  text-align: center;
  background-color: #E0F0FF;
  font-style: oblique;
  font-family:sans-serif;
  font-weight: 300;
  font-stretch: extra-expanded;
  
}
